---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getWerkgruppen } from "../werkverzeichnis/werkgruppen";

export async function getStaticPaths() {
  const werkgruppen = await getWerkgruppen();

  return werkgruppen.map((werkgruppe) => ({
    params: {
      slug: werkgruppe.Slug,
    },
    props: { werkgruppe },
  }));
}
const { werkgruppe } = Astro.props;

---

<Layout title={werkgruppe.Titel}>
  <main>
    <div class="grid grid-cols-4 gap-4">
      {
        werkgruppe &&
          werkgruppe.Records.map(
            (werk: {
              Titel: string;
              Slug: string;
              InvNr: string;
              Thumbnail: URL;
            }) => (
              <Card
                href={"/" + werkgruppe.Slug + "/" + werk.Slug}
                title={werk.InvNr}
                body={werk.Titel}
                thumbnail={werk.Thumbnail}
              />
            )
          )
      }
    </div>
  </main>
</Layout>
