---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getWerkgruppen } from "../werkverzeichnis/werkgruppen";

const werkgruppen = await getWerkgruppen();
---

<Layout title="Werkverzeichnis von Vollrad Kutscher 1968 bis 2000">
  <main>
    <div class="grid grid-cols-4 gap-4">
      {
        werkgruppen.map((werkgruppe) => (
          <Card
            href={werkgruppe.Slug}
            title={werkgruppe.Titel + " (" + werkgruppe.Count + ")"}
            body=""
            thumbnail={werkgruppe.Thumbnail}
          />
        ))
      }
    </div>
  </main>
</Layout>
